.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 78px;
}

.controls{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 829px;
    height: 60px;
    gap: 80px
}

.options{
    display: grid;
    grid-template-columns: 377px 121px 108px;
    gap: 12px;
}

.result{
    max-width: 944px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 78px;
}

.tail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}